/* Home Page */

/* Use this to view the box model of all pages
* {
  border: 2px solid;
}
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.home-header {
  text-align: center;
  background-color: #f2e6cd;
  color: #711f16;
  border: 2px solid;
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
}

.card-section {
  display: flex;
  justify-content: center;
  background-color: #f2e6cd;
  color: #711f16;
  border: 2px solid;
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  text-align: center;
  margin: 0 1rem;
}

.card img {
  height: 10rem;
  width: 85%;
  margin: 0.5rem auto;
}

.card-link {
  display: block;
  background-color: #f2e6cd;
  color: #711f16;
  border: 2px solid;
  font-weight: bold;
  font-size: 1rem;
  width: 80%;
  margin: .5rem auto;
  padding: 0.5rem;
}

/* Recipe Pages */
.recipe-header {
  text-align: center;
}

.recipe-content img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.recipe-content {

  border: 2px solid;
  width: 50%;
  margin: .5rem auto;
  background-color: #f2e6cd;
  color: #711f16;
  padding: .5rem;
}

ol {
  margin-bottom: 2rem;
}

ol li {
  margin: 1rem auto;
}

.home-page-link {
  display: block;
  background-color: #f2e6cd;
  color: #711f16;
  text-align: center;
  border: 2px solid;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
  width: 20%;
  margin: .5rem auto;
}