/* Home Page */

/*
* {
  border: 2px solid;
}
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.card-section {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  margin: 0 1rem;
}

.card img {
  height: 10rem;
  width: 75%;
  margin: 0.5rem auto;
}

.card-link {
  display: block;
  background-color: #f2e6cd;
  color: #711f16;
  border: 2px solid;
  font-weight: bold;
  font-size: 1rem;
  width: 75%;
  margin: 0 auto;
  padding: 0.5rem;
}

/* Recipe Pages */
.recipe-content img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.recipe-content {
  width: 50%;
  margin: auto;
}

ol {
  margin-bottom: 2rem;
}

ol li {
  margin: 1rem auto;
}

.home-page-link {
  background-color: #f2e6cd;
  color: #711f16;
  border: 2px solid;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
}
